/*  Background Banners */

.bg-cover {
    background: url(../img/bg-banner.jpg);
    background-size: cover;
}

.form-background {
    height: 100vh;
}

.login-logo a,
.register-logo a {
    color: #fff;
}

.postmaster_entry_layout_custom_pro {
    text-align: center;
}

.postmaster_add_select {
    background-color: #007bff !important;
    border-radius: 6px !important;
    color: white !important;
    text-align: center !important;
}

.not-margin-class {
    margin-top: 6px !important;
}

.schdash-border {
    border: inherit !important;
}